*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

body{
  
   
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: cornsilk;
    background: url(../img/fon.jpg);
    background-repeat: repeat ;
    background-size: cover;
    background-position: center;
    margin: auto;

}

.header{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-right: 90px;

}
.header__phone,
.header__email{
    color: cornsilk;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 50px;
}
.header__phone{
    padding-left: 30px;
    padding-right: 30px;
}
}
.header__email{
    padding-left: 24px;
}
.header__contacts:after{
    content: "";
    clear: both;
    display: block;
}
.menu li{
    display: inline-block;
}
.menu a{
    color: cornsilk;
    font-size: 18px;
    line-height: 50px;
    padding-right: 30px;
}
a:hover{
    color: darkmagenta;
}
.about h2 {
    color: cornsilk;
    font-family: 'Kaushan Script'; 
    text-align: center;
}
.About__me{
font-family: 'Kaushan Script'; 
font-size: 24px;
text-align: center;
margin-top: 50px;
display: flex;
justify-content: space-between;
padding-right: 90px;
line-height: 1.1;
}
.photo{
    padding-left: 30px;
}
.about{
    padding-right: 50px;
}
.about a{
    color: rgb(39, 238, 238);
    line-height: 1.1;
}
.about h3{
    text-transform: uppercase;
    text-align: right;
    font-family: 'Kaushan Script';
    color: rgb(39, 238, 238);
}
.skills{
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 20px;
    line-height: 1;
}
.skills a{
    color: rgb(39, 238, 238);
}
.edu h3,
.name h3{
    font-family: 'Kaushan Script';
    text-align: center;  
    background-position: center;
    color: rgb(39, 238, 238);
}
.edu h4{
    font-family: 'Open Sans', sans-serif;
}

.course,
.it,
.un2,
.un,
.w1
{
border:1px solid rgb(39, 238, 238);
line-height: 0;
font-size: 20px;
}
.fo h2{
    font-family: 'Kaushan Script';
    text-align: center;  
    background-position: center;
    margin-top: 150px;
}
.fo p {
    font-family: 'Kaushan Script';
    text-align: center;  
    background-position: center;  
}